.loginScreen {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  color: white;
  object-fit: contain;
  padding: 70px 45px;
  border-bottom: 8px solid #222;
}

.loginScreen-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  max-width: 950px;
  height: 60vh;
  z-index: 10;
  color: white;
  padding: 20px;
}

.loginScreen-title {
  font-size: 3.125rem;
  margin: 0 auto;
  max-width: 640px;
}

.loginScreen-subtitle {
  font-size: 1.625rem;
  font-weight: 400;
  margin: 1rem auto;
}

.email-title {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 20px;
}

.email-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
}

.email-form input {
  width: 35vw;
  max-width: 500px;
  height: 50px;
  padding: 0 15px;
  border: solid 1px #8c8c8c;
}

.email-form button {
  height: 50px;
  width: 150px;
  border: none;
  background-color: #e50914;
  color: white;
  font-size: 1.35rem;
  padding: 0.5rem 0;
  font-weight: 400;
  cursor: pointer;
}