.login {
  position: relative;
  height: 85vh;
  color: white;
  object-fit: contain;
  padding: 70px 45px;
}

.login-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  max-width: 950px;
}

.login-title {
  font-size: 3.125rem;
  margin: 16px 155px;
}

.login-subtitle {
  font-size: 1.625rem;
  font-weight: 400;
}

.email-title {
  font-size: 1.2rem;
  font-weight: 400;
}

.email-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-form input {
  width: 300px;
  height: 45px;
  padding: 0 15px;
  border: solid 1px #8c8c8c;
}

.email-form button {
  height: 45px;
  width: 150px;
  border: 0;
  padding: 0 10px;
  background-color: #fc0a0a;
  color: white;
  font-size: 1.35rem;
  padding: 0.5rem 0;
  font-weight: 400;
  cursor: pointer;
}